[project]
	description = Repository for a sensor component, which is part of resmon product.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Łukasz Bartocha (lukasz22)
        label-Docker-Build-Publish-Run = -1..+1 group user/Łukasz Bartocha (lukasz22)
[access "refs/for/refs/*"]
	read = group MAD-FiS-Team
	read = group user/Łukasz Bartocha (lukasz22)
	push = group user/Grzegorz-00 (Grzegorz-00)
	push = group user/kawues
	push = +force group user/Łukasz Bartocha (lukasz22)
	create = group user/Łukasz Bartocha (lukasz22)
	pushMerge = group user/Grzegorz-00 (Grzegorz-00)
	pushMerge = group user/kawues
	pushMerge = group user/Łukasz Bartocha (lukasz22)
[access "refs/heads/*"]
	read = group MAD-FiS-Team
	read = group user/Łukasz Bartocha (lukasz22)
	push = group MAD-FiS-Team
	push = group user/Łukasz Bartocha (lukasz22)
	label-Code-Review = -2..+2 group user/Grzegorz-00 (Grzegorz-00)
	label-Code-Review = -2..+2 group user/Tomasz Bajorek (tbajorek)
	label-Code-Review = -2..+2 group user/kawues
	label-Code-Review = -2..+2 group user/Łukasz Bartocha (lukasz22)
	label-Code-Review = -1..+1 group MAD-FiS-Team
	label-Verified = -1..+1 group user/Łukasz Bartocha (lukasz22)
	rebase = group MAD-FiS-Team
	rebase = group user/Łukasz Bartocha (lukasz22)
	removeReviewer = group user/Łukasz Bartocha (lukasz22)
	submit = group user/Grzegorz-00 (Grzegorz-00)
	submit = group user/Tomasz Bajorek (tbajorek)
	submit = group user/kawues
	submit = group user/Łukasz Bartocha (lukasz22)
        labelAs-Docker-Build-Publish-Run = -1..+1 group user/Łukasz Bartocha (lukasz22)
[access "refs/tags/*"]
	push = group user/Łukasz Bartocha (lukasz22)
	push = +force group user/Łukasz Bartocha (lukasz22)
 [label "Docker-Build-Publish-Run"]
	function = NoBlock
	value = -1 Fail
	value =  0 No score
	value = +1 Success
	defaultValue = 0
