[project]
	description = Repository for a sensor component, which is part of resmon product.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lukasz22
[access "refs/for/refs/*"]
	read = group user/lukasz22
	push = group user/lukasz22
	label-Code-Review = -2..+2 group user/lukasz22
	label-Verified = -1..+1 group user/lukasz22
	rebase = group user/lukasz22
	removeReviewer = group user/lukasz22
	submit = group user/lukasz22
[access "refs/heads/*"]
	read = group user/lukasz22
	create = group user/lukasz22
	push = +force group user/lukasz22
	pushMerge = group user/lukasz22
[access "refs/tags/*"]
	push = group user/lukasz22
	push = +force group user/lukasz22
